-- lua config file for LEDE test
SDCARD_HOST = "192.168.1.101"
SDCARD_PORT = 8000
-- -y avoids host validation, since this is the first connection
SSH_OPTS = "-y -i /root/lede.key"
SSH_HOST = '192.168.1.101'
DEBUG = false
-- These are filled in by test_lede.sh
--SSH_USER = 'flashair'
--TARGET_PATH = "/home/flashair/data-logger"
